#fm {
    position: absolute;
    right: 140%;
    width: 60%;
    top: 30%;
}

#l {
    margin-top: 25%;
}

#op {
    margin-top: -20%;
    position: relative;
    left: 108%;
}

#mg {
    position: relative;
    left: -17%;
    width: 30px;
    margin-top: 5%;
}

#h1 {


    width: 85%;
}



@media (max-width: 375px) {
    #p1 {
        position: relative;
        left: 1%;
        margin-top: 5%;
    }

    #fm {
        position: relative;
        right: 0;
        top: -49px;
        width: 100%;
    }

    #mg {
        position: relative;
        left: 91%;
        width: 30px;
        margin-top: -8%;

    }


}